@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url(./none-style/none.css);
@import url(./elements-style/header.css);
@import url(./elements-style/section-teploset.css);
@import url(./elements-style/dopnav.css);
@import url(./elements-style/slider.css);
@import url(./elements-style/news.css);
@import url(./elements-style/commpony.css);
@import url(./elements-style/footer.css);

.wrapper{
    max-width: 1366px;
    margin: 0 auto;
}
@media (max-width: 1280px){
    .wrapper{
        max-width: 1160px;
    }
}
@media screen and (max-width: 1200px){
    .wrapper{
        max-width: 1060px;
    }
}
@media screen and (max-width: 820px){
    .wrapper{
        max-width: 760px;
    }
}
@media screen and (max-width: 760px){
    .wrapper{
        max-width: 660px;
    }
}
@media screen and (max-width: 480px){
    .wrapper{
        max-width: 440px;
    }
}
