.company{
    height: 480px;
    margin: 0 99px 48px;
    padding: 58px 64px;
}
.start {
    background: no-repeat url(../../assets/png/start-bg.png);
}
.future {
    background: no-repeat url(../../assets/png/smoke.png) right 0;
    padding: 48px 64px;
}
.about {
    background: no-repeat url(../../assets/png/el-master.png) left 0;
    padding: 47px 45px 68px;
}

.company-card {
    max-width: 1040px;
    max-height: 365px;
    display: flex;
    justify-content: end;
}
.about .company-card {
    max-width: 1080px;
}
.company-card__left {
    justify-content: start;
}

.company-info {
    max-width: 540px;
    height: 365px;
    padding: 48px 48px 73px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(15px);
}
.company-info__left{
    height: 384px;
    padding: 48px 48px 58px;
}

.company-info__title {
    max-width: 259px;
    height: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: var(--text-color)
}
.company-info__title-left {
    max-width: 335px;
    height: 68px;    
}
.company-info__text  {
    max-width: 444px;
    max-height: 140px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--start-text-color);
    margin: 10px 0 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.p-text {
    max-width: 444px;
    height: 140px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--start-text-color);
    margin: 10px 0 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.company-info__btn {
    max-width: 260px;
    height: 40px;
    border: 1px solid var(--logo-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.company-info__btn a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--logo-color);
}

.company-info__btn:hover{
    background: var(--start-text-color);
}
.company-info__btn:active{
    background: var(--logo-color);
}
@media screen and (max-width: 1200px) {
    .company{
        margin: 0;
    }
}
@media screen and (max-width: 680px){
    .company-card{
        max-width: 300px;
        height: 150px;
    }
    .company-info__title{
        height: 50px;
        line-height: 25px;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .company-info__text{
        overflow: hidden;
        text-overflow: ellipsis
    }

    .company-info__btn{
        padding: 5px;
    }
}
@media screen and (max-width: 600px){
    .company{
        max-width: 550px;
        margin: 20px 20px 40px;
        height: 250px;
        padding: 20px;
    }
    .company-info__title{
        height: 50px;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .company-info__text{
        display: none;
    }
    .company-info__btn{
        padding: 5px 10px;
    }
    .company-info{  
        max-width: 300px;
        height: 50px;
        margin: 10px;
        padding: 10px;
        height: 120px;
    }
    
}
@media screen and (max-width: 500px){
    .company{
        max-width: 400px;
    }
}

@media screen and (max-width: 320px){
    .company{
        max-width: 250px;
    }
    .company-card{
        max-width: 250px;
    }
    .company-info{
        width: 200px;
        height: 120px;
    }
}