@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url(../none-style/none.css);
@import url(./header.css);
@import url(./footer.css);

.wrapper{
    max-width: 1366px;
    margin: 0 auto;
}

.pagetwo-box {
    max-width: 868px;
    max-height: 670px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    margin: 32px 399px 93px 99px;
    overflow: hidden;
    text-emphasis: clip;
}
.text-h1 {
    max-width: 323px;
    height: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    color: var(--text-color);
    margin-top: 7.5px;
}
.text-info {
    max-width: 868px;
    max-height: 609px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #7F8D97;
}